<div>
  <p id="id"></p>
  <p id="atqa"></p>
  <p id="ats"></p>
  <p id="sak"></p>
</div>

<script src="/js/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/indexconnection.js"></script>